@font-face {
  font-family: 'Digital';
  src: url("digital.ttf");
}

html {
  font-size: 30px;
}

body {
  background-color: #444444;
}

.wrapper {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: calc(50vh - 8rem) auto 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.calc {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: .4rem .2rem;
  border-radius: .3rem;
  background-color: #282b2e;
  -webkit-box-shadow: 0.15rem 0.1rem 0 #232629, 0.3rem 0.2rem 0 #232629, 0.2rem 0.2rem 0.4rem #2e2e2e;
          box-shadow: 0.15rem 0.1rem 0 #232629, 0.3rem 0.2rem 0 #232629, 0.2rem 0.2rem 0.4rem #2e2e2e;
}

.display {
  margin: 0.3rem;
  padding: 0.3rem;
  border-radius: .2rem;
  text-align: right;
  font-size: 1.2rem;
  background-color: #335856;
  -webkit-box-shadow: inset 0.15rem 0.1rem 0 #284543;
          box-shadow: inset 0.15rem 0.1rem 0 #284543;
}

.display span {
  font-family: 'Digital', 'Courier New', monospace;
  font-weight: bold;
  letter-spacing: .1rem;
}

.keypad {
  margin-top: 0.7rem;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "AC Bksp kInv kDiv" "k7  k8  k9   kStar" "k4  k5  k6   kMinus" "k1  k2  k3   kPlus" "k0  k0  kP   kEq";
  font-family: 'Segoe UI', sans-serif;
  color: white;
}

.keypad .key {
  min-width: 2rem;
  height: 1.6rem;
  margin: 0.2rem 0.3rem;
  border-radius: 2px;
  text-align: center;
  line-height: 1.6rem;
  font-weight: bold;
  -webkit-transition: background-color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out;
  position: relative;
  top: -.1rem;
  left: -.1rem;
}

.keypad .key.spl {
  font-size: 0.9rem;
}

.keypad .key:hover {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}

.keypad .key:active {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
  top: 0;
  left: 0;
}

.keypad .num {
  background-color: darkslategray;
  -webkit-box-shadow: 0.05rem 0.05rem 0 #142222, 0.1rem 0.1rem 0 #142222;
          box-shadow: 0.05rem 0.05rem 0 #142222, 0.1rem 0.1rem 0 #142222;
}

.keypad .num:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.keypad .spl {
  background-color: #3a6262;
  -webkit-box-shadow: 0.05rem 0.05rem 0 #203535, 0.1rem 0.1rem 0 #203535;
          box-shadow: 0.05rem 0.05rem 0 #203535, 0.1rem 0.1rem 0 #203535;
}

.keypad .spl:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.keypad .op {
  background-color: #367c65;
  -webkit-box-shadow: 0.05rem 0.05rem 0 #204a3c, 0.1rem 0.1rem 0 #204a3c;
          box-shadow: 0.05rem 0.05rem 0 #204a3c, 0.1rem 0.1rem 0 #204a3c;
}

.keypad .op:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.keypad .kAC {
  background-color: peru;
  -webkit-box-shadow: 0.05rem 0.05rem 0 #9c6129, 0.1rem 0.1rem 0 #9c6129;
          box-shadow: 0.05rem 0.05rem 0 #9c6129, 0.1rem 0.1rem 0 #9c6129;
}

.keypad .kAC:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.keypad .kBksp {
  background-color: indianred;
  -webkit-box-shadow: 0.05rem 0.05rem 0 #ad3535, 0.1rem 0.1rem 0 #ad3535;
          box-shadow: 0.05rem 0.05rem 0 #ad3535, 0.1rem 0.1rem 0 #ad3535;
}

.keypad .kBksp:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.k0 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: k0;
}

.k1 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: k1;
}

.k2 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: k2;
}

.k3 {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: k3;
}

.k4 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: k4;
}

.k5 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: k5;
}

.k6 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: k6;
}

.k7 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: k7;
}

.k8 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: k8;
}

.k9 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: k9;
}

.kPoint {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: kP;
}

.kPlus {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
  grid-area: kPlus;
}

.kMinus {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: kMinus;
}

.kStar {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: kStar;
}

.kDiv {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: kDiv;
}

.kInv {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: kInv;
}

.kBksp {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: Bksp;
}

.kEq {
  -ms-grid-row: 5;
  -ms-grid-column: 4;
  grid-area: kEq;
}

.kAC {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: AC;
}
/*# sourceMappingURL=style.css.map */